section.bg-light.text-dark.text-center {
  background: url('/background.png') no-repeat center center/cover;
  color: white;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}

.card img {
  height: 200px;
  object-fit: cover;
}
